body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 2;
  justify-items: center;
  font-weight: 600;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  font-style: initial;
  color: white;
  -webkit-text-stroke: 2px black;
}

p{
  padding-left: 20%;
  padding-right: 20%;
}

img{
  width: 700px;
}